.chat {
  border: 1px solid #ddd;
  width: 300px;
  position: relative;
  padding-bottom: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
}

.chat__history {
  height: 300px;
  padding: 5px;
  overflow-y: auto;
  word-break: break-all;
}

.chat__history__line {
  margin-bottom: 5px;
}

.chat__footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.chat__history__player-name {
  display: inline-block;
  margin-right: 3px;
  background: darkcyan;
  color: white;
  border-radius: 3px;
  padding: 2px 5px;
}
